.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.section {
    display: block;
}

textarea {
    resize: none;
}

.label {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.form input {
    padding: 10px;
    margin-bottom: 25px;
    font-size: 1rem;
    font-family: Open Sans, 'sans serif';
}

.form textarea {
    height: 200px;
    font-size: 1rem;
    font-family: Open Sans, 'sans serif';
    padding: 10px;
}

.form input[type="submit"] {
    background-color: #c93814;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 20px;
    border: 1px solid transparent;
    transition: 0.5s;
}

.form input[type="submit"]:hover {
    background-color: #B81808;
    transition: 0.5s;
}


@media screen and (min-width: 701px) and (max-width: 1279px) {
    .form {
        width: 70%;
    }
}
    
@media screen and (min-width: 0px) and (max-width: 700px) {
    .form {
        width: 80%;
    }
}