.navbar {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style-type: none;
    background-color: transparent;
}

.navbar > .list-item {
    border-bottom: 2px solid #c93814;
}

.list-item {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border: 2px solid transparent;
}

/* Styling for animated underline on nav items */

.nav:hover, .nav:active {
    cursor: pointer;
    background-color: #c93814;
    transition: 0.5s;
}

@media screen and (min-width: 321px) and (max-width: 700px) {
    .navbar {
        justify-content: space-evenly;
        padding: 5px;
    }

    .list-item {
        font-size: 1.1rem;
        padding: 10px;
        margin-right: 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
    .navbar {
        justify-content: space-evenly;
        padding: 5px;
    }

    .list-item {        
        font-size: 1.1rem;        
        padding: 8px;
        margin-right: 0;
        border: none;
    }
}