.navbar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    background-color: transparent;
}

.list-item {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border: 2px solid transparent;
}

/* Styling for animated underline on nav items */

.nav:hover {
    cursor: pointer;
    background-color: #c93814;
    transition: 0.5s;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
    .list-item {
        font-size: 1.05rem;
    }
}