.footer {
    background-color: #08121B;
    display: flex;
    justify-content: space-between;
}

.info {
    color: #fff;
    margin-left: 10px;
    line-height: 25px;
}

.arrow:hover {
    color: #FF220C;
    transition: 0.35s;
}