.join-container {
    display: flex;
}

.left-join {
    width: 60%;
    background-color: #08121B;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.right-join {
    width: 40%;
    background-image: url('../img/about-image.jpg');
    background-size:cover;
    background-position:center;
}

.left-join > h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: #FF220C;
}

.join-secondary {
    font-family: Open Sans;
    font-style: normal;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;
    width: 80%;
    line-height: 3rem;
    margin: 2% auto;
}

.left-join > h2 {
    font-weight: normal;
}

.free-trial-container {
    display: flex;
    background: #B81808;
}

.trial-left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trial-left h1 {
    display: flex;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.trial-right {
    display: flex;
    width: 40%;
    margin: 0 auto;
    align-items: center;
}

.trial-right a {
    margin: auto;
}

.about-text-container {
    background: #08121B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.about-text-container > h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: #FF220C;
}

.about-text-container > h2 {
    font-weight: normal;
}

.about-text {
    font-family: Open Sans;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    color: #FFFFFF;
    width: 60%;
    margin-top: 50px;
}

@media screen and (min-width: 701px) and (max-width: 1279px) {
    .left-join > h1 {
        font-size: 2.5rem;
        line-height: 70px;
    }

    .join-primary {
        font-size: 2.4rem;
    }
    
    .join-secondary {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .about-header {
        font-size: 2.5rem;
    }

    .about-text {
        width: 80%;
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 700px) {
    .left-join > h1 {
        font-size: 2rem;
        line-height: 50px;
    }

    .join-primary {
        font-size: 2rem;
    }

    .join-secondary {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .trial-left h1 {
        font-size: 1.3rem;
        margin-left: 20px;
        line-height: 1.5rem;
    }

    .left-join {
        width: 100%;
    }

    .right-join {
        display: none;
    }

    .join-secondary {
        font-size: 1.5rem;
        width: 80%;
        line-height: 2.2rem;
    }

    .about-header {
        width: 80%;
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    .about-text-container > h1 {
        font-size: 1.8rem;
        line-height: 50px;
    }

    .about-text-container > h2 {
        width: 100%;
        font-size: 1.2rem;
    }
}