.calendar {
    padding-top: 60px;
    margin: auto;
}

.fc-event-title {
    white-space: normal;
}

.fc-col-header-cell {
    background-color: #B81808;
    color: #fff;
}

.title {
    margin: auto;
    padding-top: 60px;
}

.title h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 3.8rem;
    line-height: 82px;
    text-align: center;
    color: #B81808;
}

.sub-title {
    font-size: 1.7rem;
    line-height: 41px;
    text-align: center;
    color: #000000;
}

.map {
    margin-top: 20px;
}

.prices {
    background-color: #08121B;
    padding-bottom: 50px;
}

.prices h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    color: #B81808;
    padding-top: 20px;
    text-transform: uppercase;
}

.prices h2 {
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.row {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 701px) and (max-width: 1279px) {
    .title {
        width: 60%;
    }
}

@media screen and (min-width: 350px) and (max-width: 700px) {
    .title {
        width: 80%;
        font-size: 2rem;
    }

    .sub-title {

    }

    .prices h1 {
        font-size: 2.5rem;
        line-height: 50px;
    }

    .prices h2 {
        font-size: 1.5rem;
    }
}
